<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Angular CRUD</a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-6 mt-4">
      <ul class="list-group">
        <li 
          *ngFor="let user of userArray"
          class="list-group-item list-group-item-action"
          (click)="openForEdit(user)"
          [class.active]="user == selectedUser"
          >
          <span class="badge badge-primary"> {{ user.id }} </span>{{ user.name }} {{ user.surname }}
        </li>
      </ul>
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            Rellena los datos:
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedUser.name" placeholder="Nombre" class="form-control">
            <input type="text" [(ngModel)]="selectedUser.surname" placeholder="Apellido" class="form-control">
            <input type="text" [(ngModel)]="selectedUser.email" placeholder="Email" class="form-control">
            <input type="text" [(ngModel)]="selectedUser.passwd" placeholder="Contraseña" class="form-control">
          </div>
          <button (click)="addOrEdit()" class="btn btn-primary">
            Guardar
          </button>
          <button
          *ngIf="selectedUser.id !== 0"
          class="btn btn-danger"
          (click)="delete()"
          >
            Borrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>